.chose {
    height: calc(100vh - 30px);
    width: 100%;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    /* margin: 2%; */
    /* border: 2px solid; */
    /* padding-top: 20px; */
    text-align: center;
    font-size: 1.4rem;
    padding-top: 30px;
}

.chose p{
    font-size: 10px;
}
.chose h1{
    font-weight: 700;
    color: #97623f;
}
.chosecontent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
}

.maps {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    /* width: 90%; */
}

.review {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.textreview {
    /* margin-top: 10px; */
}

.textreview h1 {
    font-size: 3.7rem;
    color: rgba(169, 123, 67, 0.518);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1.1px rgb(169, 123, 67);
}

.textreview h5 {
    font-size: 1.3rem;
    color: rgba(128, 128, 128, 0.647);
    font-weight: lighter;
    text-align: center;
}

.linereview {
    margin-top: 3px;
}

.linereview h4 {
    font-size: 0rem;
    /* line-height: 47px; */
    height: 4px;
    width: 220px;
    /* color: #e8c30c; */
    /* outline: 0.5px solid gainsboro; */
    /* border: 1.3px solid  #d4d3cd; */
    border-radius: 20px;
    margin-top: 22px;
    background-color: #d4d3cd89;
}

#gold {
    /* color: #e8c30c;
    outline: 0.5px solid  #e8c30c; */
    /* border: 1.3px solid   #9c830778; */
    background-color: #e8c30c;
}

.stars {
    width: 100%;
    margin-top: -5px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-bottom: 7px;
}

.choseabout {
    width: 50%;
}

.elements {
    display: flex;
    justify-content: space-around;
}

.element {
    margin-top: 17px;
}

.element h1 {
    font-weight: 700;
    letter-spacing: 6px;
    font-size: 3rem;
    -webkit-text-stroke: 1.7px rgb(169 123 67 / 80%);
    color: rgba(255, 182, 193, 0.601);
    /* color: transparent; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.element h3 {
    font-size: 1.4rem;
    font-weight: lighter;
    font-weight: 400;
}

.choseabouttext {
    margin-top: 40px;
}

.choseabouttext h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: rgb(169 123 67 / 80%);
    font-weight: 600;
}
.choseabouttext p{
    font-size: 1.05rem;
}
.mapcpc {
    margin-top: 9px;
    display: flex;
    gap: 15px;
    /* justify-content: cente; */
}
.mapcpc p{
    color: #97623f;
}
.noreview{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.noreview h2{
    /* margin-top: 5px; */
    /* text-shadow: 2px 2px 4px #97623f; */
    /* color: #97623f; */
    color: black;
    font-weight: lighter;
}
.downreview{
    margin-top: 20px;
}
.downreview h2{
    /* -webkit-text-stroke: 0.9px #97623f; */
    color:transparent;
    /* color: rgba(255, 182, 193, 0.601); */
    color: #97623f;
    font-size: 2.4rem;
    font-weight: 600;
}